@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  font-family: Raleway;
}

.page {
  min-height: 100vh;
  background: #fdfaaf;
  padding: 40px;
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-weight: 200;
  font-size: 64px;
}

.title span {
  font-weight: 800;
}

.content {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left img {
  max-width: 691px;
  width: 100%;
}

.right {
  background: #ffffff;
  padding: 16px 30px;
  border-radius: 4px;
  border: 1px solid #71c322;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.25);
  width: 460px;
}

h2 {
  text-align: center;
  font-weight: 300;
  font-size: 48px;
  color: #999a1c;
  margin-top: 0;
}

label {
  display: block;
  margin: 8px;
  font-size: 24px;
  font-weight: 300;
}

input {
  padding: 10px 18px 9px;
  font-size: 18px;
  font-weight: 100;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 8px;
  background: #fbfbfb;
}
