@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: Raleway;
}

.page {
  min-height: 100vh;
  background: #fdfaaf;
  padding: 40px;
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-weight: 200;
  font-size: 64px;
}

.title span {
  font-weight: 800;
}

.content {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.left {
  flex: 1;
  max-width: 691px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: -50px;
}

.left img {
  width: 100%;
  height: auto;
  display: block;
  z-index: 10;
  object-fit: contain;
}

.right {
  background: #ffffff;
  padding: 16px 30px;
  border-radius: 4px;
  border: 1px solid #71c322;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.25);
  width: 460px;
  margin-left: -60px;
}

@media (max-width: 1024px) {
  .left {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .left img {
    width: 100%;
    height: auto;
    margin-right: -100px;
  }

  .right {
    margin-left: 0;
    width: 100%;
    max-width: 460px;
  }
}

@media (max-width: 968px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .left {
    top: 0;
    margin-bottom: 40px;
  }

  .left img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .right {
    margin-left: 0;
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
  }
}

@media (max-width: 480px) {
  .page {
    padding: 20px;
  }

  .title {
    font-size: 40px;
  }

  .content {
    margin-top: 36px;
  }
}
